pkgbase = uau
	pkgdesc = unattended upgrades for Arch. Schedule automatic upgrades while respecting the recommended upgrade process (Arch wiki - System maintenance).
	pkgver = 3.0.0
	pkgrel = 1
	url = https://github.com/steadfasterX/arch_uau
	install = uau.install
	changelog = CHANGELOG.md
	arch = any
	license = LGPL3
	makedepends = git
	depends = aur-comment-fetcher-git
	depends = python-feedparser
	depends = sudo
	depends = pacman
	optdepends = ssmtp: extreme simple Mail Transport Agent
	optdepends = s-nail: to provide the sendmail like mail command
	optdepends = yay
	backup = etc/unattended-arch-upgrade.conf
	backup = etc/unattended-arch-upgrade.ignore
	source = https://github.com/steadfasterX/arch_uau/archive/v3.0.0.tar.gz
	sha256sums = fae3429b439fa2896b4edb9650009fac330e0106019ef579ee5144dbd1d3e7a1

pkgname = uau
